<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="Test1"
        class="Test1Props"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label16"
                class="Label16Props"
            >
                {{mg.getText('Label16')}}
                </label>
                <mat-form-field class="aProps">
                    <div>
                        <input
                            matInput
                            magic="a"
                            formControlName="a"
                            [placeholder]="mg.getPlaceholder('a')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('a').dirty) && (
screenFormGroup.get('a').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('a') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label17"
                class="Label17Props"
            >
                {{mg.getText('Label17')}}
                </label>
                <mat-form-field class="bProps">
                    <div>
                        <input
                            matInput
                            magic="b"
                            formControlName="b"
                            [placeholder]="mg.getPlaceholder('b')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('b').dirty) && (
screenFormGroup.get('b').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('b') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label18"
                class="Label18Props"
            >
                {{mg.getText('Label18')}}
                </label>
                <mat-form-field class="cProps">
                    <div>
                        <input
                            matInput
                            magic="c"
                            formControlName="c"
                            [placeholder]="mg.getPlaceholder('c')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('c').dirty) && (
screenFormGroup.get('c').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('c') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label19"
                class="Label19Props"
            >
                {{mg.getText('Label19')}}
                </label>
                <mat-form-field class="dProps">
                    <div>
                        <input
                            matInput
                            magic="d"
                            formControlName="d"
                            [placeholder]="mg.getPlaceholder('d')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('d').dirty) && (
screenFormGroup.get('d').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('d') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        </div>
        </form>