<form
    novalidate
    [formGroup]="screenFormGroup"
>
    <div
        style="display: flex; flex-direction: column"
        magic="Test2"
        class="Test2Props"
    >
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label1"
                class="Label1Props"
            >
                {{mg.getText('Label1')}}
                </label>
                <mat-form-field class="jProps">
                    <div>
                        <input
                            matInput
                            magic="j"
                            formControlName="j"
                            [placeholder]="mg.getPlaceholder('j')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('j').dirty) && (
screenFormGroup.get('j').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('j') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row">
            <label
                magic="Label3"
                class="Label3Props"
            >
                {{mg.getText('Label3')}}
                </label>
                <mat-form-field class="kProps">
                    <div>
                        <input
                            matInput
                            magic="k"
                            formControlName="k"
                            [placeholder]="mg.getPlaceholder('k')"
                            pattern="^MagicSoftware.Studio.Program.WebClientGenerator.ValueExp$"
                        >
                            <div *ngIf="(screenFormGroup.get('k').dirty) && (
screenFormGroup.get('k').hasError('pattern')
)">
                                <p>{{ mg.getErrMsg('k') }}</p>
                            </div>
                    </div>
                </mat-form-field>
        </div>
        </div>
        </form>